  <div class="col-sm-4 col-md-4 col-xs-6">
    <div class="thumbnail social insta">
      <img src="<%= insta['image'] %>" alt="...">
      <div class="caption">
        <p><%= insta['caption_text'] %></p>
        <hr>
        <p>
          By <strong><%= insta['name'] %></strong></br>
          <i class="fa fa-heart"></i><%= insta['likes'] %>
          <%= Date.parse(insta['created_at']).strftime("%B %d, %Y") %>

        </p>
        <p class='links'>
          <a href="#" class="btn btn-primary btn-sm" role="button">Visit</a> 
          <a href="#" class="btn btn-default btn-sm" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>
