<!-- 
  
  DEV NOTES:
  helper functions in form defined in helpers/public_figures_helper 

  simple form gem DSL needs augmentation here, with custom icons, buttons, and popover fuctionality with each form element. 

  so - using simple_form conventions, but in 'label' field, defined helper html formatting options
  tried to be as straight-forward with indentation and intention here

  JavaScript note ->
  embedded in each form element is a data-key attribute
  this gives:
    - expected data type of field for client side validation
    - validation url if server call is needed for validation

    heirarchy is - FormCtrl holds an instance of RealTimeValidator , check
      - assets/js/public_figures/utils/realTimeValidator
      - assets/js/public_figures/DOMcomponents/socialMediaFormController

-->

<%= simple_form_for pf do |f| %>

  <!-- < %= f.input :display_name, 
      label: label_template({
        expand: false,
        display_text: 'Display Name',
        q_n_a: 
          {
            title: 'Enter the Display Name of the entity you want to query.',
            placement: 'right',
            content: 'Enter the human-readable name of your search entity here.'
          }
      })  
  %> -->



  <%= f.input :facebook_id,
      input_html: {
        'data-key': {
          type_requirement: 'number',
          validate_url: 'foobar.com'
        }.to_json
      }, 
      label: label_template({
        expand: true,
        display_text: 'Facebook Page ID',
        q_n_a: 
          {
            title: 'Facebook timeline query',
            placement: 'bottom',
            content: 'We need to find your chosen page by Facebook ID number. If you don\'t know what your number is, we can search for it. Just type the page name in this field, and click \'Get Page ID\''
          }
      })  
  %>
 
  <%= f.input :twitter_handle,
      input_html: {
        'data-key': {
          type_requirement: 'string',
          validate_url: 'foobar.com'
        }.to_json
      }, 
      label: label_template({
        expand: true,
        display_text: 'Twitter Handle',
        q_n_a: 
          {
            title: 'Twitter handle help',
            placement: 'bottom',
            content: 'Enter the twitter username or handle that you\'d like to search.'
          }
      })  
  %>
  
  <%= f.input :twitter_search_terms,
      input_html: {
        'data-key': {
          type_requirement: 'string#csv',
          validate_url: 'foobar.com'
        }.to_json
      }, 
      label: label_template({
        expand: true,
        display_text: 'Twitter search terms',
        q_n_a: 
          {
            title: 'Twitter search terms',
            placement: 'bottom',
            content: 'Want to search for specific phrases on Twitter? Enter each search term separated by a comma.'
          }
      })  
  %>
  <%= f.input :instagram_id,
      input_html: {
        'data-key': {
          type_requirement: 'number',
          validate_url: 'foobar.com'
        }.to_json
      }, 
      label: label_template({
        expand: true,
        display_text: 'Instagram Username',
        q_n_a: 
          {
            title: 'Instagram Username',
            placement: 'bottom',
            content: 'Some Instagram usernames aren\'t what you expect. Want to test a username before a search? Enter the text here and press \'Get Instagram ID\''
          }
      })  
  %>
 
  <%= f.input :instagram_search_tags,
      input_html: {
        'data-key': {
          type_requirement: 'string#csv',
          validate_url: 'foobar.com'
        }.to_json
      }, 
      label: label_template({
        expand: true,
        display_text: 'Instagram search terms',
        q_n_a: 
          {
            title: 'Instagram search terms',
            placement: 'top',
            content: 'Want to search for Instagrams tagged with specific hashtags? Enter each tag separated by a comma.'
          }
      })  
  %>

  <div class='btn btn-primary' data='preview'>Preview</div>
  

  <!-- currently not actually submitting to DB, only handing off for social media queries without save -->
  <!-- so - for semantic reasons, no submit button. only preview -->

<% end %>