<%= simple_form_for pf do |f| %>

  <div data-toggle="popover" 
    title="Enter the Display Name of the entity you want to query."
    data-placement="bottom" 
    data-content="Enter the human-readable name of your search entity here."
  >
    <%= f.input :display_name, label: 'Display Name <i class="fa fa-question-circle"></i>'.html_safe %>
  </div>


  <div data-toggle="popover" 
    title="Facebook timeline query"
    data-placement="bottom"
    data-content="Facebook don't really work too good yet. ho hum."
  >
    <%= f.input :facebook_id, label: 'Facebook Username <i class="fa fa-question-circle"></i>'.html_safe  %>
  </div>

  <div data-toggle="popover" 
    title="Twitter handle help"
    data-placement="bottom" 
    data-content="Enter the twitter username or handle that you'd like to search."
  >
    <%= f.input :twitter_handle, label: 'Twitter Handle <i class="fa fa-question-circle"></i>'.html_safe %>
  </div>

  <div data-toggle="popover" 
    title="Twitter search terms"
    data-placement="bottom" 
    data-content="Want to search for specific phrases on Twitter? Enter each search term separated by a comma."
  >
    <%= f.input :twitter_search_terms, label: 'Twitter search terms <i class="fa fa-question-circle"></i>'.html_safe %>
  </div>

  <div data-toggle="popover" 
    title="Instagram Username"
    data-placement="bottom" 
    data-content="Enter the Instagram username you'd like to query!"
  >
    <%= f.input :instagram_id, label: 'Instagram Username <i class="fa fa-question-circle"></i>'.html_safe %>
  </div>

  <div data-toggle="popover" 
    title="Instagram search terms"
    data-placement="bottom" 
    data-content="Want to search for Instagrams tagged with specific hashtags? Enter each tag separated by a comma."
  >
    <%= f.input :instagram_search_tags, label: 'Instagram search terms <i class="fa fa-question-circle"></i>'.html_safe %>
  </div>

  <div class='btn btn-info' data='preview'>Preview</div>
  


  <%= f.button :submit %>

<% end %>