<div class="pad-the-nav"></div>
<div id="collapsed-form">
  <div class='btn btn-info' data='unCollapse'>Redo query terms</div>
</div>
<%= simple_form_for @pf do |f| %>

  <%= f.input :display_name %>
  <%= f.input :facebook_id %>
  <%= f.input :twitter_handle %>
  <%= f.input :twitter_search_terms %>
  <%= f.input :instagram_id %>
  <%= f.input :instagram_search_tags %>

  <div class='btn btn-info' data='preview'>Preview</div>
  
  <%= f.button :submit %>

<% end %>

<div class="masonryGrid">
</div>


<div class="icon-refresh col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-4 col-xs-offset-4 col-sm-offset-4 col-lg-offset-4">
  <i class="fa fa-refresh icon-refresh-animate"></i>
</div>



<script>
  $(document).ready(function () {
    var PATHS = {
      preview: '<%= public_figure_preview_path  %>',
      templates: "<%= public_figure_templates_path %>"
    }
    
    // global for the time being - ease of debugging
    window.SMR = new SocialMediaResultsPreview(PATHS);
  });
  
</script>
