<div class="pad-the-nav"></div>
<%= simple_form_for @pf do |f| %>

  <%= f.input :display_name %>
  <%= f.input :facebook_id %>
  <%= f.input :twitter_handle %>
  <%= f.input :twitter_search_terms %>
  <%= f.input :instagram_id %>
  <%= f.input :instagram_search_tags %>

  <%= f.button :submit %>
<% end %>

