<div class="pad-the-nav"></div>

<%= render 'uncollapse_button' %>

<%= render 'preview_form_with_popovers', pf: @pf %>

<div class="masonryGrid">
</div>


<script>
  $(document).ready(function () {

    var PATHS = {
      preview: '<%= public_figure_preview_path  %>',
      templates: '<%= public_figure_templates_path %>',
      'public_figure[facebook_id]': '<%= aggregators_fb_id_from_string_path %>',
      'public_figure[instagram_id]': '<%= aggregators_insta_id_from_string_path %>'
    };
    
    // global for the time being - ease of debugging
    window.PPM = new PreviewPageMaster(PATHS);
  });
  
    
</script>

<script type="text/template" id="waiting-icon">
  <%= render 'shared/animated_refresh_icon' %>
</script>


<%= render 'shared/bootstrap_modal' %>  

<%= render 'preview_modal_contents' %>