<div class="pad-the-nav"></div>
<%= simple_form_for @pf do |f| %>

  <%= f.input :display_name %>
  <%= f.input :facebook_id %>
  <%= f.input :twitter_handle %>
  <%= f.input :twitter_search_terms %>
  <%= f.input :instagram_id %>
  <%= f.input :instagram_search_tags %>

  <div class='btn btn-info' data='preview'>Preview</div>
  
  <%= f.button :submit %>

<% end %>


<script>
  $(document).ready(function () {
    var previewUrl = '<%= public_figure_preview_path  %>';
    // global for the time being - ease of debugging
    window.SMR = new SocialMediaResultsPreview(previewUrl);
  });
  
</script>
