<div class="pad-the-nav"></div>
<div id="collapsed-form" class="row">
  <div 
    class='btn btn-primary col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4' 
    data='unCollapse'>
    Redo query terms?
  </div>
</div>

<%= render 'preview_form_with_popovers', pf: @pf %>

<div class="masonryGrid">
</div>


<script>
  $(document).ready(function () {

    var PATHS = {
      preview: '<%= public_figure_preview_path  %>',
      templates: "<%= public_figure_templates_path %>"
    }
    
    // global for the time being - ease of debugging
    window.Master = new PreviewPageMaster(PATHS);
  });
  
    
</script>

<script type="text/template" id="waiting-icon">
  <%= render 'shared/animated_refresh_icon' %>
</script>


<%= render 'shared/bootstrap_modal' %>  

<%= render 'preview_modal_contents' %>