<div class="pad-the-nav"></div>
<div id="collapsed-form">
  <div class='btn btn-info' data='unCollapse'>Redo query terms</div>
</div>
<%= simple_form_for @pf do |f| %>

  <div data-toggle="popover" 
    title="Popover title" 
    data-content="And here's some amazing content. It's very engaging. Right?"
  >
    <%= f.input :display_name %>
  </div>


  <div data-toggle="popover" 
    title="second title" 
    data-content="different content because it different div"
  >
    <%= f.input :facebook_id %>
  </div>
  <%= f.input :twitter_handle %>
  <%= f.input :twitter_search_terms %>
  <%= f.input :instagram_id %>
  <%= f.input :instagram_search_tags %>

  <div class='btn btn-info' data='preview'>Preview</div>
  


  <%= f.button :submit %>

<% end %>

<div class="masonryGrid">
</div>




<script>
  $(document).ready(function () {

    var PATHS = {
      preview: '<%= public_figure_preview_path  %>',
      templates: "<%= public_figure_templates_path %>"
    }
    
    // global for the time being - ease of debugging
    window.Master = new PreviewPageMaster(PATHS);
  });
  
    
</script>

<script type="text/template" id="waiting-icon">
  <%= render 'shared/animated_refresh_icon' %>
</script>


<%= render 'shared/bootstrap_modal_with_lodash_templates' %>  


<%= render 'preview_modal_contents' %>
